/* You can add global styles to this file, and also import other style files */
$acent: rgb(40, 91, 139);

html, body{
    height: 100%
}

.sidebar{
    background-color: white;
    padding: 20px;
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
    outline: solid 0.3px rgb(180, 179, 179);
}

.sidebar-item{
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    color: $acent;
    padding: 8px;
}
.all{
    background-color: rgb(245, 245, 245);
}

a{
    text-decoration: none;
}